<!DOCTYPE html>
{% extends 'rango/base.html' %}

<!---
<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...</h1>
    <div>
      here is the about page! <br />
     
    </div>
    <div>
        <a href= "{% url 'rango:index' %}">Back to index</a><br>
        <img src="{% static 'images/rango.jpg' %}"
        alt="Picture of Rango" />
    </div>
    <div>
        <img src= " {{MEDIA_URL}}cat.jpg " alt="picture of a cat" width = 510 height = 755/>
    </div>

    <div>
        This tutorial has been put together by {{name}}<br />
    </div>
  </body>
  
</html>
-->



{% load staticfiles %}

{% block title_block %}
  About Rango
{% endblock %}

{% block body_block %}
  
  <div>
    This is the about page!<br>
    <a href="/rango/">Index</a><br>
    Visits: {{visits}}
  </div>
  <div>
    <img src = "{% static 'images/rango.jpg' %}"/>
    <img src = "{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat"/>
 
{% endblock %}